.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 20%;
  font-size:20px
}

.sumar {
  background-color: rgb(121, 121, 199);
}
.sumar:hover{
  background-color: blue;
  color: white;
}

.restar {
  background-color: rgb(220, 64, 64);
}

.grey {
  width: 150px;
  height: 50px;
}

.restar:hover{
  background-color: rgb(130, 4, 12);
  color: white;
}

.cero {
  background-color: rgb(41, 151, 81);
}
.cero:hover{
  background-color: rgb(2, 87, 26);
  color: white;
}

.grey:hover {
  background-color: #464747;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


